@import "../../scss/variables";
@import "../../scss/mixins";

.news {
  background-color: #fff;
 .wrap {
   display: flex;
 }
  .left {
    width: 65%;
    padding-top: 40px;
    padding-right: 30px;
    .title-wrap {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      h2 {
        margin: 0;
        margin-right: 20px;
        display: inline-block;
        font-size: 24px;
        font-weight: 600;
        color: $color-primary;
      }
      .line {
        flex-grow: 1;
        height: 3px;
        border: none;
        display: block;
        background-color: $color-muted;
      }
    }

    .link {
      margin-bottom: 30px;
      display: inline-block;
      text-decoration: none;
      color: $color-secondary;
      font-size: 14px;
    }

    .content {
      display: flex;
      .big-card {
        margin-right: 40px;
        
        .img-wrap {
          height: 300px;
          margin-bottom: 20px;

          background-color: rgb(199, 5, 5);
        }
        .text-wrap {
          .info {
            color: $color-muted;
            font-size: 14px;
          }
          .title {
            color: #444444;
            font-weight: 600;
            font-family: $font-stack;
          }
        }
      }

      .list {
        @include list-unstyled;

        .item {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          .img-wrap {
            width: 75px;
            height: 75px;
            flex-shrink: 0;
            margin-right: 20px;

            background-color: $color-primary;
          }
          .text-wrap {
            font-size: 14px;
            padding-top: 10px;
            padding-right: 20px;
            .info {
              color: $color-muted;
            }
            .title {
              color: #444444;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  .right {
    position: relative;
    padding: 120px 40px 50px 30px;
    flex-grow: 1;
    // background-color: #444444;
    background-color: transparent;

    .img-wrap {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      margin-right: -500px;
      z-index: 0;
    }
    .title-wrap {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;

      .icon {
        display: inline-block;
        width: 35px;
        height: 35px;
        margin-right: 20px;
        color: #fff;
      }
      h2 {
        font-size: 28px;
        font-weight: 600;
        margin: 0;
        color: #fff;
      }
    }

    .list {
      @include list-unstyled;
      margin-top: 50px;
      position: relative;
      z-index: 1;

      .item {
        margin-bottom: 25px;
        border-bottom: 2px solid #6E7F80;
        padding-bottom: 25px;
        a {
          color: $color-secondary;
          text-decoration: none;
          font-weight: 600;
        }
      }
    }
  }
}
